@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
  font-family: 'Poppins';
  background-color: #F7F7F7;
}

.navbar {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.navbar-nav > li {
  margin-right: 20px;
  margin-left: 20px; 
}

header {
  margin-top: 90px;
}

h1 {
	margin: 0;
	font-size: 36px;
}



.custom-text-1 {
  font-size: 31px;
  font-weight: 500;
  color: black;
}

.custom-text-3 {
  font-size: 26px;
  font-weight: 500;
  color: #528FB9;
}

.custom-text-4 {
  font-size: 16px;
  font-weight: 300;
  color: #5D6679;
}

.custom-text-5 {
  font-size: 18px;
  font-weight: 500;
  color: #152C5B;
}
.custom-text-6 {
  font-size: 16px;
  font-weight: 300;
  color: #ABABAB;
}

.custom-text-7 { 
  font-weight: 600; 
}


footer {
  margin-top: none;
  bottom: none;
  height: 310px;
}

.header-custom {
  font-size: 36px;
  font-weight: 600;
  color: #152C5B;
}

.header-custom-1 {
  font-size: 18px;
  font-weight: 300;
  color: #B0B0B0;
}

.px-2 {
  margin-left: 150px;
}

.custom-h5 {
  font-size: 15px; /* Ubah ukuran font sesuai kebutuhan */
  font-weight: 300; 
}