:root {
  --primary: #284b63;
  --warning: #fab55a;
  --success: #0d824b;
}
.content-container {
  padding: 21px;
}
.main-content {
  width: 100%;
  background-color: white;
  padding: 21px;
  height: 487px;
  border-radius: 10px;
  filter: drop-shadow(0px 4px 15px rgba(0, 0, 0, 0.15));
}
.main-content header {
  display: flex;
  flex-direction: column;
  width: 150px;
}
.main-content header img {
  width: 17px;
  margin-left: auto;
}
.main-content header h1 {
  font-size: 20px;
  font-weight: 500;
}
.table-container {
  overflow-x: scroll;
  width: 100%;
}
.main-content table {
  width: 100%;
}
table tr th {
  color: var(--primary);
  text-align: center;
}
table tr th:nth-child(1) {
  font-size: 12px;
  text-align: start;
}
table td {
  text-align: center;
  color: var(--primary);
}
table td:nth-child(1) {
  /* display: flex;
  gap: 23px; */
  text-align: start;
  /* align-items: center; */
}
table td button {
  height: 36px;
  border: none;
  outline: none;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  padding: 10px;
  gap: 3px;
}
.buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
table td .edit {
  background-color: var(--primary);
}
table td .delete {
  background-color: var(--warning);
}
.text-red {
  color: red;
}
.text-success {
  color: var(--success);
}
@media (max-width: 900px) {
  table {
    width: 782px !important;
  }
}

  
* {
    font-family: "Inter", sans-serif;
  }
  body {
    display: flex;
    flex-direction: row-reverse;
    gap: 4px;
    background-color: #f6f6f6 !important;
  }
  .main-container {
    display: flex;
    flex-direction: column;
    flex: 1 1 0%;
  }
  .main-navbar {
    display: flex;
    height: 68px;
    position: sticky;
    top: 0;
    z-index: 99;
    background-color: white;
    width: 100%;
    filter: drop-shadow(0px 4px 15px rgba(0, 0, 0, 0.15));
    align-items: center;
    justify-content: center;
  }
  .main-navbar img {
    width: 44px;
  }
  .main-navbar h1 {
    margin: 0;
    font-weight: 700;
    font-size: 20px;
  }
  .sidebar {
    position: sticky;
    top: 0;
    width: 300px;
    background-color: var(--primary);
    height: 100vh;
    padding: 20px;
  }
  .sidebar-header {
    display: flex;
    align-items: center;
    gap: 11px;
  }
  .sidebar-header img {
    width: 64px;
  }
  .sidebar-header h4 {
    color: white;
    font-size: 20px;
    font-weight: 600;
  }
  .routes {
    margin-top: 50px;
    display: flex;
    height: 470px;
    flex-direction: column;
    gap: 10px;
  }
  .routes div {
    display: flex;
    padding-left: 20px;
    align-items: center;
    height: 54px;
    gap: 30px;
    width: 100%;
    cursor: pointer;
    border-radius: 5px;
  }
  .routes .active {
    background-color: white;
  }
  .routes .active path {
    fill: var(--primary);
  }
  .routes .active span {
    color: var(--primary);
  }
  .routes a {
    text-decoration: none;
  }
  .routes div path {
    fill: white;
  }
  .routes div span {
    color: white;
  }
  .log-out {
    margin-top: auto;
  }
  .log-out:hover svg path {
    stroke: var(--primary);
  }
  .routes div:hover,
  .routes div:hover span,
  .routes div:hover path {
    background-color: white;
    fill: var(--primary);
    color: var(--primary);
  }
  .offcanvas {
    background-color: var(--primary) !important;
  }
  .hamburger-button {
    display: none;
  }
  .close-button {
    border: none;
    outline: none;
    color: white;
    background-color: transparent;
    margin-left: auto;
    position: absolute;
    top: 30px;
    right: 30px;
  }
  @media (max-width: 900px) {
    .sidebar {
      display: none;
    }
    .hamburger-button {
      display: flex;
      justify-content: center;
      align-items: center;
      border: none;
      outline: none;
      background-color: transparent;
      border: 2px solid grey;
      padding: 5px;
      border-radius: 5px;
      position: absolute;
      left: 10px;
      color: grey;
    }
    .main-container {
      display: block;
    }
    body {
      display: block;
    }
  }
    
  .buttons {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 20px;
  }
  .edit {
    background-color: var(--primary);
  }
  .delete {
    background-color: var(--warning);
  }
  .buttons button {
    height: 36px;
    border: none;
    outline: none;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    padding: 10px;
    gap: 3px;
  }
  
  .card-body {
    display: flex !important;
    flex-direction: column !important;
    gap: 10px !important;
  }
  .buttons {
    margin-top: auto;
  }
  @media only screen and (min-width: 400px) {
    .card {
      width: 350px !important;
    }
  }
  @media only screen and (min-width: 800px) {
    .card {
      display: flex !important;
      height: 240px !important;
      flex-direction: row !important;
      width: auto !important;
    }
    .card-img-top {
      width: 260px !important;
    }
  }

  form button {
    background-color: var(--primary);
    outline: none;
    border: none;
    padding: 10px 20px 10px 20px;
    border-radius: 5px;
    color: white;
  }
  @media only screen and (min-width: 992px) {
    form {
      width: 780px !important;
    }
  }

  .option-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  .option-container img {
    transition: all ease-in-out 300ms;
  }
  .option-container img:hover {
    transform: scale(0.96);
  }
  button {
    background-color: var(--primary);
    outline: none;
    border: none;
    padding: 10px 20px 10px 20px;
    border-radius: 5px !important;
    color: white;
    margin-top: 90px !important;
  }
  @media only screen and (min-width: 800px) {
    .option-container {
      flex-direction: row !important;
      align-items: center !important;
      justify-content: center;
    }
    .option-container img {
      height: 200px;
    }
  }
  @media only screen and (min-width: 1000px) {
    .option-container img {
      height: 240px;
    }
    .container {
      width: 780px !important;
    }
  }
  