@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
  font-family: 'Poppins';
  background-color: #F7F7F7;
}

.navbar {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.navbar-nav > li {
  margin-right: 20px;
  margin-left: 20px; 
}

header {
  margin-top: 70px;
}

h1{
  font-weight: 800;
  font-size: 77px;
  line-height: 125%;
  margin-top: 65px;
}

h2{
  margin-top: -10px;
  transform: scaleX(-1);
  display: inline-block; 
}
p{
  font-weight: 500;
  font-size: 20px;
}

.btn-primary {
  margin-top: 100px;
  background-color: #284B63;
  border-color: #284B63;
  font-weight: 500;
}

.btn-primary:hover{
  background-color: #3A6E91;
}

.btn-primary:focus, .btn-primary:active {
  background-color: #3A6E91;
}

.custom-text-1 {
  font-size: 32px;
  font-weight: 500;
  color: #284B63;
}
.rectangle-1 {
  margin-top: 87px;
  background-color: #F7F7F7;
  width: 373.33px;
  height: 484px;
  border-radius: 10px;
  padding: 50px;
}
.rectangle-1 img{
  transition: transform 0.3s ease-in-out;
}
.rectangle-1:hover {
  background-color: #284B63;
  box-shadow: 0px 30px 60px rgba(25, 55, 102, 0.25);
}
.rectangle-1 h3{
  font-weight: 700;
  font-size: 24px;
  color: #284B63;
  margin-top: 20px;
}
.rectangle-1:hover h3 {
  color: #fff;
}

.rectangle-1 p {
  font-weight: 400;
  font-size: 16px;
  color: #528FB9;
}
.rectangle-1:hover p{
  color: #fff;
}
.rectangle-2 {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #284B63;
  width: 70px;
  height: 70px;
  border-radius: 6px;
  padding: 10px;
  box-shadow: 0px 30px 60px rgba(25, 55, 102, 0.25);
}

.rectangle-2:hover {
  color: transparent;
}

.custom-text-3 {
  font-size: 26px;
  font-weight: 500;
  color: #528FB9;
}

.custom-text-4 {
  font-size: 16px;
  font-weight: 300;
  color: #5D6679;
}

.custom-text-5 {
  font-size: 18px;
  font-weight: 500;
  color: #152C5B;
}
.custom-text-6 {
  font-size: 16px;
  font-weight: 300;
  color: #ABABAB;
}

footer {
  margin-top: 176px !important;
  bottom: 0;
  height: 310px;
}

.header-custom {
  font-size: 36px;
  font-weight: 600;
  color: #152C5B;
}

.header-custom-1 {
  font-size: 18px;
  font-weight: 300;
  color: #B0B0B0;
}

.button-custom {
  margin-bottom: 100px;
}