:root {
  --primary: #284b63;
  --warning: #fab55a;
  --success: #0d824b;
}

* {
  font-family: "Inter", sans-serif;
}
body {
  display: flex;
  flex-direction: row-reverse;
  gap: 4px;
  background-color: #f6f6f6 !important;
}
.main-container {
  display: flex;
  flex-direction: column;
  flex: 1 1 0%;
}
.main-navbar {
  display: flex;
  height: 68px;
  position: sticky;
  top: 0;
  z-index: 99;
  background-color: white;
  width: 100%;
  filter: drop-shadow(0px 4px 15px rgba(0, 0, 0, 0.15));
  align-items: center;
  justify-content: center;
}
.main-navbar img {
  width: 44px;
}
.main-navbar h1 {
  margin: 0;
  font-weight: 700;
  font-size: 20px;
}
.sidebar {
  position: sticky;
  top: 0;
  width: 300px;
  background-color: var(--primary);
  height: 100vh;
  padding: 20px;
}
.sidebar-header {
  display: flex;
  align-items: center;
  gap: 11px;
}
.sidebar-header img {
  width: 64px;
}
.sidebar-header h4 {
  color: white;
  font-size: 20px;
  font-weight: 600;
}
.routes {
  margin-top: 50px;
  display: flex;
  height: 470px;
  flex-direction: column;
  gap: 10px;
}
.routes div {
  display: flex;
  padding-left: 20px;
  align-items: center;
  height: 54px;
  gap: 30px;
  width: 100%;
  cursor: pointer;
  border-radius: 5px;
}
.routes .active {
  background-color: white;
}
.routes .active path {
  fill: var(--primary);
}
.routes .active span {
  color: var(--primary);
}
.routes a {
  text-decoration: none;
}
.routes div path {
  fill: white;
}
.routes div span {
  color: white;
}
.log-out {
  margin-top: auto;
}
.log-out:hover svg path {
  stroke: var(--primary);
}
.routes div:hover,
.routes div:hover span,
.routes div:hover path {
  background-color: white;
  fill: var(--primary);
  color: var(--primary);
}
.offcanvas {
  background-color: var(--primary) !important;
}
.hamburger-button {
  display: none;
}
.close-button {
  border: none;
  outline: none;
  color: white;
  background-color: transparent;
  margin-left: auto;
  position: absolute;
  top: 30px;
  right: 30px;
}
@media (max-width: 900px) {
  .sidebar {
    display: none;
  }
  .hamburger-button {
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    outline: none;
    background-color: transparent;
    border: 2px solid grey;
    padding: 5px;
    border-radius: 5px;
    position: absolute;
    left: 10px;
    color: grey;
  }
  .main-container {
    display: block;
  }
  body {
    display: block;
  }
}
