:root {
  --primary: #284b63;
  --warning: #fab55a;
  --success: #0d824b;
}
.buttons {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 20px;
}
.edit {
  background-color: var(--primary);
}
.delete {
  background-color: var(--warning);
}
.buttons button {
  height: 36px;
  border: none;
  outline: none;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  padding: 10px;
  gap: 3px;
}

.card-body {
  display: flex !important;
  flex-direction: column !important;
  gap: 10px !important;
}
.buttons {
  margin-top: auto;
}
@media only screen and (min-width: 400px) {
  .card {
    width: 350px !important;
  }
}
@media only screen and (min-width: 800px) {
  .card {
    display: flex !important;
    height: 240px !important;
    flex-direction: row !important;
    width: auto !important;
  }
  .card-img-top {
    width: 260px !important;
  }
}
